---
- hosts: all
  become: true
  gather_facts: no

  tasks:
  - name: Install Unzip Server in Amazon Linux
    yum: 
     name: unzip
     state: latest

  - name: Download SonarQube In Amazon Linux
    get_url:
     url: https://binaries.sonarsource.com/Distribution/sonarqube/sonarqube-10.5.1.90531.zip
     dest: ~/opt

  - name: Add Sonar User
    user:
     name: sonar 
     group: sonar

  - name: Unzipping SonarQube File
    shell:
     cmd: unzip sonarqube-10.5.1.90531.zip
     chdir: ~/opt
...